{
  "extends": [
    "next",
    "prettier",
    "plugin:tailwindcss/recommended"
  ],
  "plugins": [
    "import-helpers"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": "warn",
    "no-var": "error",
    "no-html-link-for-pages": "off",
    "import-helpers/order-imports": [
      "error",
      {
        "newlinesBetween": "always",
        "groups": [
          "/^react/",
          "module",
          "/^~\/store/",
          "/^~\/components/",
          "/^~\/helpers/",
          "/^~\/assets/",
          [
            "parent",
            "sibling",
            "index"
          ]
        ],
        "alphabetize": {
          "order": "asc",
          "ignoreCase": false
        }
      }
    ]
  }
}