@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  
  html,
  body,
  :root {
    @apply font-neue-montreal antialiased;
    font-variation-settings: 'wght' 450;
    
    font-synthesis: none;
    font-synthesis-weight: none;
    font-optical-sizing: auto;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;

    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #e8e8e8;
  }
}

@layer utilities {
    .font-thin {
        font-variation-settings: 'wght' 200;
    }
    .font-extralight {
        font-variation-settings: 'wght' 300;
    }
    .font-light {
        font-variation-settings: 'wght' 400;
    }
    .font-normal {
        font-variation-settings: 'wght' 450;
    }
    .font-medium {
        font-variation-settings: 'wght' 530;
    }
    .font-semibold {
        font-variation-settings: 'wght' 700;
    }
    .font-bold {
        font-variation-settings: 'wght' 800;
    }
}