@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  
  html,
  body,
  :root {
    @apply font-neue-montreal antialiased;
    font-variation-settings: 'wght' 450;
    
    font-synthesis: none;
    font-synthesis-weight: none;
    font-optical-sizing: auto;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;

    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #F1EFEB;
  }
}

@layer utilities {
    .font-thin {
        font-variation-settings: 'wght' 200;
    }
    .font-extralight {
        font-variation-settings: 'wght' 300;
    }
    .font-light {
        font-variation-settings: 'wght' 400;
    }
    .font-normal {
        font-variation-settings: 'wght' 450;
    }
    .font-medium {
        font-variation-settings: 'wght' 530;
    }
    .font-semibold {
        font-variation-settings: 'wght' 700;
    }
    .font-bold {
        font-variation-settings: 'wght' 800;
    }
}
@property --s {
  syntax: "<integer>";
  initial-value: 0;
  inherits: true;
}
.countdown {
  display: grid;
  width: 615px;
  height: 615px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  font-size: 72px;
  transform: translate(-50%, -50%);
  &:not(.stopped) {
    animation: t 3s linear infinite;
  }
}
.countdown::after {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  counter-reset: s var(--s);
  content: counter(s, decimal-leading-zero);
}

@keyframes t {
  to {
    --s: 99 ;
  }
}
svg {
  grid-column: 1;
  grid-row: 1;
}

[r] {
  fill: none;
  stroke: silver;
}
[r] + [r] {
  --k: calc(var(--s)/100);
  transform: rotate(-90deg);
  stroke-linecap: square;
  /* stroke: color-mix(in hsl shorter hue, #1d1d1d calc(var(--k)*100%), #3d57da); */
  stroke: #1d1d1d;
  stroke-dasharray: var(--k) 1;
}