@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  :root {
    font-synthesis: none;
    font-synthesis-weight: none;
    font-optical-sizing: auto;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;

    font-size: clamp(8px, 1.041667vw, 20px);
  }
}

@layer utilities {
  .font-thin {
    font-variation-settings: 'wght' 200;
  }
  .font-extralight {
    font-variation-settings: 'wght' 300;
  }
  .font-light {
    font-variation-settings: 'wght' 400;
  }
  .font-normal {
    font-variation-settings: 'wght' 450;
  }
  .font-medium {
    font-variation-settings: 'wght' 530;
  }
  .font-semibold {
    font-variation-settings: 'wght' 700;
  }
  .font-bold {
    font-variation-settings: 'wght' 800;
  }
}

@layer components {
  @property --s {
    syntax: '<integer>';
    initial-value: 0;
    inherits: true;
  }

  @keyframes t {
    to {
      --s: 99;
    }
  }

  .progress-wrapper {
    --load-duration: 1.5s;
    animation: t var(--load-duration) normal forwards;

    &.completed {
      animation: none;
      --s: 100;
    }
  }

  .progress-wrapper::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    font-size: 3rem;
    transform: translateX(-50%);
    counter-reset: s var(--s);
    content: counter(s, decimal-leading-zero);
    will-change: contents;
  }

  .progress-bar {
    animation: load var(--load-duration) normal forwards;
    will-change: transform;

    &.completed {
      animation: none;
      transform: scaleX(1);
    }
  }

  @keyframes load {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(0.99);
    }
  }

  .underline-animated {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      display: block;
      right: 0;
      bottom: 1px;
      background: black;
      transition: width 0.4s ease;
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }
  }
}
